<% content_for :left do %>
  <%= render "experiments/admin_left_menu" %>
<% end -%>

<% content_for :right do %>

<% end -%>
<hr />
Total users: <%= @users_size %>
<% count = 1 %>
<table width="100%" class="users">
  <tr><th>User</th><th>Name(s)</th><th>Last Sign In</th><th>Scatter</th></tr>
  <% @users.each do |user| %>
    <tr><td>( <%= link_to "destroy", destroy_user_path(user), :id=>"user" %> ) <%= link_to user.email, edit_user_path(user), :id => "edit_user" %></td><td><%= user.last_name %>, <%= user.first_name %></td><td><%= nice_date(user.last_sign_in_at) %></td><td><%= total_downloads(user.id) %></td></tr>
    <% count += 1 %>
  <% end %>
  <tr><th colspan="4" class="specalt"><%== pagy_nav(@pagy) %></th></tr>
</table>