<% content_for :right do %>
  <%= render :partial => "right_side_menu" %>
<% end -%>
<% content_for :left do %>
  <%= render :partial => "left_side_menu" %>
<% end -%>
<p class="welcometitle">Latest Reviews</p>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @news.each do |news| %>
    <tr>
      <td colspan="3" align="left">

        <span class="grey_text"> <%= nice_date(news.created_at) %> </span> &nbsp;<span class="darkred_text"><%= news.title.upcase %></span>
        <%= raw RedCloth.new("p(journal-about). #{news.notes}").to_html %>

        <% unless news.journal_info.empty? %>
          <%= raw RedCloth.new("p(journal). +Publication+ #{news.journal_info}").to_html %>
        <% end %>

        <% if news.figure.attached? %>
          <div><%= image_tag news.figure, width:"500px" %></div>
        <% end %>

        <% unless news.link.empty? %>
          <span class="journalText"><%= link_to "Link to Review", news.link, :class => 'no_decor_link' %></span>
        <% end %>

        <%= raw RedCloth.new("p(journal-about). +Abstract+ #{news.abstract}").to_html %>
        <hr>
      </td>
    </tr>
    <tr>
      <td></td>
      <% if can? :update, @news %>
        <td><%= link_to 'Edit', edit_news_path(news.id) %></td>
        <td><%= link_to 'Destroy', news, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      </td>

    </tr>
  <% end %>
</table>