<h1>New Deposit</h1>
<p>A link will be sent to the provided email address for creating a new BioIsis deposit. This link will remain active for one week or until the deposit has been completed.</p>

<p>The email will include a pdf document detailing the necessary information for submission. The deposit does not have to be completed in one session but can be saved. Access to a saved deposit will occur through the emailed link.</p>

Many thanks,<br/>

Rob Rambo, Ph.D.

<%= form_with submission: @submission, url: submissions_path  do |f| %>
  Submission link will be emailed to : <%= @submission.email %><br/>
  If you would like to use a different email address, please change below<br/>
  <%= email_field(:submission, :email, :size => "50") %>
  <p><%= f.submit "Send Link" %></p>
<% end %>

<%= link_to 'Back', submissions_path %>
