<div class="nested-fields">
  <div>
    <%= form.label :source %>
    <%= form.text_field :container-title %>
  </div>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :volume %>
    <%= form.text_field :volume %>
  </div>
  <div>
    <%= form.label :issue %>
    <%= form.text_field :issue %>
  </div>
  <div>
    <%= form.label :page %>
    <%= form.text_field :page %>
  </div>
  <div>
    <%= form.label :year %>
    <%= form.text_field :year %>
  </div>
  <div>
    <%= form.label :month %>
    <%= form.text_field :month %>
  </div>
  <div>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div>
</div>

